# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore

.gcloudignore
.git/
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
ENV/
env/
*.log
*.csv
*.pkl
.veyt_token_cache.json
.DS_Store
*.swp
*.swo
.vscode/
.idea/
*.tex

